@font-face {
  font-family: "Gilroy";
  src: url("../font/gilory-font/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../font/gilory-font/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("Gilroy-Bold") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  overflow-x: hidden;
}

/* start global class*/

.flex {
  display: flex;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.orange {
  color: #f2994a;
}

.button {
  width: 112px;
  height: 36px;
  background-color: rgba(242, 153, 74, 1);
  color: #fff;
  border-radius: 4px;
  margin-right: 20px;
  box-shadow: -11.09000015258789px 18.1299991607666px 36.648292541503906px 0px
    rgba(242, 153, 74, 0.13);
  border: none;
}

/* end global class*/

.container {
  width: 1200px;
  padding: 0 70px;
  margin: 0 auto;
}

/* start header */

.header {
  width: 100%;
  margin-top: 30px;
}

.header-left {
  width: 50%;
  height: 50px;
}

.logo img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 11px 32px 0 0;
}

.header-list li {
  list-style: none;
  margin: 20px 10px;
}

.header-list-item {
  text-decoration: none;
  color: rgba(181, 181, 181, 1);
  font-size: 18px;
}

.header-right {
  width: 40%;
  justify-content: right;
  position: relative;
}

.header-right-btn {
  margin: 11px 100px 0 0;
  position: absolute;
  left: 18.75rem;
}

.btn-left-signin,
.content-head-left-btn-r {
  width: 112px;
  height: 36px;
  border: 1px solid rgba(242, 153, 74, 1);
  color: rgba(242, 153, 74, 1);
  margin-right: 20px;
  border-radius: 4px;
  background: transparent;
}

/* end header */

/* start main content head*/

.main-content-head {
  margin-top: 60px;
}

.main-content-head-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.main-content-head-left-title {
  color: rgba(153, 239, 208, 1);
  font-family: "Gilroy";
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 20px;
}

.main-content-head-left-about {
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 22px;
  color: rgba(132, 118, 170, 1);
  margin-bottom: 40px;
}

.main-content-head-right {
  display: flex;
  justify-content: right;
}

.main-content-head-right svg {
  width: 90%;
  height: 100%;
}

.main-content-head-left-video {
  margin-top: 60px;
}

.main-content-head-left-video-picture {
  width: 170px;
  height: 80px;
  background: rgba(54, 28, 93, 1);
  border-radius: 4px;
}

.main-content-head-left-video-picture-icon {
  font-size: 30px;
  margin-top: 25px;
  color: #fff;
}

.main-content-head-left-video-about-up,
.main-content-head-left-video-about-down {
  font-family: "Gilroy-Heavy.ttf";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  color: rgba(132, 118, 170, 1);
  margin: 0 0 10px 15px;
}

/* end main content head*/

/* start choise for user */

/* satrt brands */

.brands {
  justify-content: space-around;
}

/* end brands */

.choise-for-user-bg-left,
.choise-for-user-bg-right {
  pointer-events: none;
}

.choise-for-user {
  justify-content: space-around;
  margin-top: 90px;
  position: relative;
}

.choise-for-user-bg-left {
  position: absolute;
  top: -60px;
  left: -200px;
}

.choise-for-user-bg-right {
  position: absolute;
  top: -80px;
  right: -200px;
}

.choise-for-user-content-title {
  font-family: "Gilroy";
  color: #99efd0;
  font-size: 42px;
  margin-top: 100px;
}

.choise-for-user-content-title-description {
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  color: #8476aa;
  margin: 13px 0 50px 0;
}

.choise-for-user-content-items {
  flex-wrap: wrap;
  justify-content: space-around;
}

.choise-for-user-content-item {
  width: 300px;
  height: 106px;
  margin-top: 35px;
}

.choise-for-user-content-item-left {
  margin-right: 31px;
}

.choise-for-user-content-item-title {
  font-family: "Gilroy-Bold";
  color: #99efd0;
  font-size: 18px;
  margin-bottom: 13px;
}

.choise-for-user-content-item-description {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  color: #8476aa;
}

/* end choise for user */

/* start busines content section */

.busines-content-section {
  margin-top: 170px;
  justify-content: space-around;
  position: relative;
}

.busines-content-section-bg {
  position: absolute;
  bottom: -350px;
  left: -100px;
}

.busines-content-section-left {
  display: flex;
  flex-direction: column;
}

.busines-content-section-left-title {
  font-size: 42px;
  color: #99efd0;
}

.busines-content-section-left-description {
  font-size: 15px;
  color: #8476aa;
  margin: 32px 0 43px;
}

/* end busines content section */

/* start simple way section */

.simple-way-section {
  flex-direction: column;
  margin-top: 217px;
}

.simple-way-section-title,
.simple-way-section-title-item {
  color: #99efd0;
  font-size: 36px;
  text-align: center;
}

.simple-way-section-description,
.simple-way-section-description-item {
  font-size: 15px;
  color: #8476aa;
  text-align: center;
}

.simple-way-section-description {
  margin: 32px 0 48px 0;
}

.simple-way-section-items {
  justify-content: space-around;
}
/* end simple way section */

/* start craet peoject section */
.craet-peoject-section {
  flex-direction: column;
  margin-top: 170px;
  position: relative;
}

.craet-peoject-section-title {
  color: #99efd0;
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.craet-peoject-section-btn{
  width: 160px;
  height: 54px;
}

.craet-peoject-section-bg {
  margin: -140px 0 0 -15px;
}
