@font-face {
  font-family: "Gilroy";
  src: url("../font/gilory-font/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../font/gilory-font/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}

/* start global class*/

.flex {
  display: flex;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-right {
  display: flex;
  justify-content: right;
}

.f-left {
  display: flex;
  justify-content: left;
}

.pointer {
  cursor: pointer;
}

/* end global class*/

.container {
  width: 1200px;
  padding: 0 70px;
  margin: 0 auto;
}

/* start header */

.header {
  width: 100%;
  margin-top: 30px;
}

.header-left {
  width: 50%;
  height: 50px;
}

.logo img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 11px 32px 0 0;
}

.header-list li {
  list-style: none;
  margin: 20px 10px;
}

.header-list-item {
  text-decoration: none;
  color: rgba(181, 181, 181, 1);
  font-size: 18px;
}

.header-right {
  width: 40%;
  justify-content: right;
  position: relative;
}

.header-right-btn {
  margin: 11px 100px 0 0;
  position: absolute;
  left: 18.75rem;
}

.btn-left-signin,
.content-head-left-btn-r {
  width: 112px;
  height: 36px;
  border: 1px solid rgba(242, 153, 74, 1);
  color: rgba(242, 153, 74, 1);
  margin-right: 20px;
  border-radius: 4px;
  background: transparent;
}

.btn-right-signup,
.content-head-left-btn-l {
  width: 112px;
  height: 36px;
  background-color: rgba(242, 153, 74, 1);
  color: #fff;
  border-radius: 4px;
  margin-right: 20px;
  box-shadow: -11.09000015258789px 18.1299991607666px 36.648292541503906px 0px
    rgba(242, 153, 74, 0.13);
  border: none;
}

/* end header */

/* start main content head*/

.main-content-head {
  margin-top: 60px;
}

.main-content-head-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.main-content-head-left-title {
  color: rgba(153, 239, 208, 1);
  font-family: "Gilroy";
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 20px;
}

.main-content-head-left-about {
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 22px;
  color: rgba(132, 118, 170, 1);
  margin-bottom: 40px;
}

.main-content-head-right {
  display: flex;
  justify-content: right;
}

.main-content-head-right svg {
  width: 90%;
  height: 100%;
}

.main-content-head-left-video {
  margin-top: 60px;
}

.main-content-head-left-video-picture {
  width: 170px;
  height: 80px;
  background: rgba(54, 28, 93, 1);
  border-radius: 4px;
}

.main-content-head-left-video-picture-icon {
  font-size: 30px;
  margin-top: 25px;
  color: #fff;
}

.main-content-head-left-video-about-up,
.main-content-head-left-video-about-down {
  font-family: "Gilroy-Heavy.ttf";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  color: rgba(132, 118, 170, 1);
  margin: 0 0 10px 15px;
}

/* end main content head*/

/* satrt brands */

.choise-for-user{
  justify-content: space-around;
  margin-top: 90px;
}